name: CI for Go Code #Naming the workflow
on: #for event triggering
  push: 
    branches: [main] #add with comma for more branches to monitor
  pull_request:
    branches: [main]
    
jobs: #job to execute?
  build: #name of the job
    name: Load OS #name for printing
    runs-on: ubuntu-latest #specify os in virtual machine
    steps:
    - name: Telegram Notify
      uses: appleboy/telegram-action@master
      with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            ${{ github.actor }} created commit:
            Commit message: ${{ github.event.commits[0].message }}
            
            Repository: ${{ github.repository }}
            
            See changes: https://github.com/${{ github.repository }}/commit/${{github.sha}}
    
    - name: Print hello
      run: | #run terminal command
        ls
        echo Hello!!!
        
    - name: Setup Go
      uses: actions/setup-go@v3.2.0
      with:
        go-version: 1.18
    - name: Check Go Version
      run: go version
      
    - name: Checkout Repo
      uses: actions/checkout@v2.4.2
      
    - name: Checkout Remote Private Repo
      uses: actions/checkout@v2.4.2
      with:
        repository: lowkh2/GoSchoolRemoteExample
        token: ${{secrets.GO_SECRET_TOKEN}}
        path: remote
    
    - name: Check Remote File
      run: |
        cd remote
        ls
        cat myText.txt
        cd ..
      
    - name: Check File System
      run: | 
        pwd
        ls
        
    - name: Install denepndicies
      run: |
        go mod init calc
        go mod tidy
        go get github.com/franela/goblin
        go install github.com/tebeka/go2xunit@latest
        go test -v
        2>&1 go test -v | go2xunit -output tests.xml
        
    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1
      if: always()
      with:
        files: tests.xml
        
    - if: ${{failure()}}
      name: Create Issues Notifications
      uses: nashmaniac/create-issue-action@v1.1
      with:
        title: Build Failed
        token: ${{secrets.GITHUB_TOKEN}}
        assignees: ${{github.actor}}
        labels: worflow-failed
        body: Workflow failed for commit ${{github.sha}}
        
    - if: ${{failure()}}
      name: Telegram Notify Failure
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        message:
          Workflow failed for commit ${{github.sha}}
